USE [master]
GO
/****** Object:  Database [satranc]    Script Date: 8.06.2025 22:14:30 ******/
CREATE DATABASE [satranc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'satranc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\satranc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'satranc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\satranc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [satranc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [satranc]
GO
/****** Object:  Table [dbo].[thamle]    Script Date: 8.06.2025 22:17:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thamle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[kullanici] [nvarchar](50) NULL,
	[mevcut_konum] [nvarchar](5) NULL,
	[yeni_konum] [nvarchar](5) NULL,
	[game_id] [int] NULL,
 CONSTRAINT [PK_thamle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
